[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "FishPhyloMaker"]
	path = FishPhyloMaker
	url = https://github.com/gabrielnakamura/fishphylomaker
	shallow = true
	registered = true
[submodule "rfishbase"]
	path = rfishbase
	url = https://github.com/ropensci/rfishbase
	shallow = true
	registered = false
